@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #181818;
    --foreground: #ffffff;
}

body {
    color: var(--foreground);
    background: var(--background);
}

@layer components {
    .customWidth {
        @apply w-full md:w-4/5 lg:w-3/5 mx-auto px-4;
    }
    .customLinkHover {
        @apply bg-foreground bg-opacity-0 hover:bg-opacity-[3%] hover:ring-[1px] ring-accent/10 px-2 py-2 rounded-md transition-all;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
