@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fs-subHeading: 1.13rem;
    --fs-subText: 0.88rem;
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --fs-heading: clamp(1.13rem, 0.91vi + 0.9rem, 1.63rem);
    }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
        --fs-heading: 1.13rem;
    }
    @media screen and (min-width: 1280px) {
        :root {
            --fs-heading: 1.63rem;
        }
    }
}

body {
    @apply bg-zinc-900 text-white;
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    @apply bg-zinc-800;
}

body::-webkit-scrollbar-thumb {
    @apply bg-zinc-700;
}

@layer components {
    .customWidth {
        @apply max-w-[780px] mx-auto px-4;
    }
    .customLinkHover {
        @apply bg-white bg-opacity-0 hover:bg-opacity-[3%] hover:ring-[1px] ring-zinc-300/10 px-2 py-2 rounded-md transition-all;
    }
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
